.wrapper {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 60px;
  background-color: #1e2d8d;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__link {
  margin-left: auto;
}

.header__img {
  color: #fff;
  height: 24px;
}

.header__location {
  display: flex;
  align-items: center;
}

.header__location-img {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.content__about {
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
}

.content__wrapper-form {
  max-width: 500px;
  padding-top: 40px;
}

.content__error {
  height: 51px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
}

.content__error-img {
  display: none;
}

.content__error-info {
  color: red;
  height: 36px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.content__form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.content__form-label {
  font-family: inherit;
  display: flex;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 20px;
}

.content__form-input {
  margin-left: auto;
  border: 1px solid #000000 0.5;
  outline: none;
  outline-offset: 0;
}

.content__form-input:hover {
  border-color: #7885ce;
  outline: none;
}

.content__form-reg {
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  opacity: 0.7;
}

.content__form-btn {
  height: 40px;
  width: 50%;
  align-self: center;
  margin-top: 30px;
  background: #7885ce;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  outline: none;
}

.content__form-btn:hover {
  background-color: #5561ac;
}

.content__form-btn:active {
  opacity: 0.5;
}
