
fieldset {
  width: 370px;
  margin: 100px auto auto auto;
  border-radius: 10px;
}

input {
  margin-top: 10px;
}
legend {
  text-align: center;
}

button {
  margin-left: 130px;
  margin-top: 10px;
}
input {
  border-radius: 3px;
  background: lightgrey;
}
